body {
    font-size: 1rem;
    margin: 0;
    font-family: "Arial", sans-serif;
}

header {
    text-align: center;
    font-size: clamp(2rem, 4vw, 4rem);
}

.left {
    h1 {
        margin: 0;
        font-size: 2rem;
    }
}

header, footer {
    background-color: #3b3131;
    color: white;
    padding: 1rem;
}

footer {
    font-size: 1rem;

    div.contents {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
    }
}